.custom-bg1{
	background: url(../img/custom-bg/custom-bg1.jpg);
}
.custom-bg2{
	background: url(../../img/fondos/nosotros.jpg);
}
.custom-bg3{
	background: url(../../img/fondos/preguntas.jpg);
}
.custom-bg4{
	background: url(../img/custom-bg/custom-bg5.jpg);
}
.custom-bg5{
	background: url(../../img/fondos/servicios.jpg);
}
.custom-bg6{
	background: url(../../img/fondos/menu.jpg);
}
.custom-bg7{
	background: url(../../img/fondos/testimonios.jpg);
}
.custom-bg8{
	background: url(../../img/fondos/reser.jpg);
}